html body {
  margin: 0;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.dashboard-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.dashboard-container .card {
  margin: 20px auto; /* Adjust margins for clarity and spacing */
  max-width: 90%; /* Responsive max-width */
  background-color: #333; /* Dark background for cards */
  color: #fff; /* Text color for readability */
  border: 1px solid #444; /* Slightly lighter border for contrast */
  border-radius: 8px; /* Rounded corners for modern look */
  padding: 20px; /* Padding inside cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 12px 24px rgba(0, 0, 0, 0.5); /* Enhanced shadow for depth */
}
  
.card-title {
  font-size: 22px; /* Larger font size for emphasis */
  color: #ddd; /* Use a standout color for titles */
}

.card-text {
  font-size: 14px; /* Smaller than the title for hierarchy */
  color: #ddd; /* Lighter color for readability */
  
}

.card-img-top {
  width: 100%; /* Makes image responsive */
  border-radius: 8px 8px 0 0; /* Rounded corners at the top */
}

.section-title {
  margin-bottom: 20px; /* Increased bottom margin for section titles */
  margin-top: 100px;
  margin-left: 5%;
}
.article-container {
  margin-bottom: 20px; /* Adjust the bottom margin to create more space between articles */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  display: block; /* Ensure the article container behaves as a block-level element */
}

.article-container:hover {
  background-color: #444; /* Darken the background color on hover */
}

.article-container a {
  color: #ddd; /* Use a standout color for links */
  text-decoration: none; /* Remove the underline from links */
}

.article-container a:hover {
  color: #fff; /* Optional: Change link color on hover for better visibility */
}

.btn-custom {
  background-color: #007bff; /* Bootstrap's primary color for buttons */
  color: #fff;
  padding: 10px 20px; /* Adequate padding for touch targets */
  border-radius: 4px; /* Rounded corners for buttons */
  border: none; /* Remove default border */
  cursor: pointer; /* Cursor indication for clickable elements */
}

.btn-custom:hover {
  background-color: #0056b3; /* Darker shade on hover for interaction feedback */
}


@media (max-width: 768px) {
  .dashboard-container .card {
    margin: 20px 10px; /* Provides smaller margins for smaller devices */
    max-width: 95%; /* Allows cards to use more width on smaller screens */
  }

  .section-title {
    margin-bottom: 20px; /* Slightly reduced margin on smaller screens */
  }
}