.community-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}


tbody tr:hover {
  text-decoration: underline; /* Add underline on hover for better UX */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button, .write-btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.pagination button:not(.active):hover {
  background-color: #0056b3;
  color: white;

}

.write-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.write-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  th, td {
    padding: 4px;
    font-size: 14px;
  }
}