.community-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post-item {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; /* Adds a line to separate posts */
  cursor: pointer;
}
.write-post-button-container,
.load-more-button-container {
  text-align: right;
  margin-top: 20px;
}
.post-item:hover {
  text-decoration: underline; /* Underline on hover */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}
.load-more-button-container button {
  display: inline-block; /* Adjust as needed */
  width: 100%;
}
.write-post-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns button to the right */
  margin-top: 20px;
}

.write-post-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.write-post-button:hover {
  background-color: #0056b3;
}