
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #fff;
  background-color: #0d1117;
  padding: 20px;
  margin-top: 20px;
}

.footer-section {
  margin-right: 20px;
}

.footer-section h3, .footer-section p, .footer-section ul, .footer-section li {
  color: #fff; /* Ensure text color is white */
}

.footer-section a {
  color: #fff; /* Set link color to white */
  text-decoration: none; /* Remove the underline from links */
}

.footer-section ul {
  list-style-type: none; /* Remove bullet points from list */
  padding: 0; /* Remove padding */
}

.footer-section li {
  margin-bottom: 10px; /* Add some space between list items */
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
    text-align: center; /* Center-align text for smaller screens */
  }

  .footer-section a {
    display: inline-block; /* Make links inline-block to apply margin correctly */
    margin: 0 10px; /* Add horizontal margin for spacing between social media links */
  }
}