.navbar-dark {
  background-color: #0d1117 !important; /* Set the navbar background to black */
  padding: 0.5rem 1rem; /* Adjust the padding to reduce navbar height */
  border-bottom: 2px solid white; /* Add a white border line at the bottom */
  height: 100px;
}

.navbar-dark .navbar-brand {
  height: 40px; /* Adjust the logo height */
}

.navbar-dark .navbar-toggler {
  padding: 0.25rem 0.5rem; /* Adjust the padding to reduce the size of the toggle */
  font-size: 1rem; /* Adjust the font size as needed */
  width: 1em;
  height: 1em;
}

.navbar-dark .navbar-toggler-icon {
  width: 1em;
  height: 1em;
  margin-bottom: 10px;
}

.nav-link {
  padding: 10px; /* Adjust the padding around the nav links */
  font-size: 0.8em; /* Adjust the font size of the nav links */
}

.nav-link:hover,
.nav-link.active {
  font-weight: bold; /* Make the text bold on hover and for active link */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .navbar-dark {
    padding: 0.25rem 1rem; /* Further reduce padding for smaller screens */
  }

  .navbar-dark .navbar-toggler {
    font-size: 0.875rem; /* Adjust the font size of the toggle icon for smaller screens */
  }
}