.parent-container {
  display: flex;
  justify-content: center;
  padding: 20px;

}

.user-container {
  padding: 20px;
  width: 90%;
  margin: auto; /* Center alignment */
  max-width: 1200px; /* Maximum width */
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Adds space between cards */
}

.info-card {
  flex-grow: 1; /* Allows cards to grow to fill space */
  margin: 10px; /* Adds some space around cards */
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 전체 너비를 사용 */
  margin: 10px;
  min-width: 250px; /* Minimum width to ensure content fits */
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #333;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden; /* Add this to prevent content from overflowing */
  text-overflow: ellipsis;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .user-card {
    padding: 10px;
    font-size: 0.8rem;   
  }
}

@media (min-width: 768px) {
  .user-cards-container {
    justify-content: flex-start; /* Align cards to start on larger screens */
  }

  .user-card {
    width: calc(50% - 20px); /* Two cards per row on tablet and desktop views */
  }
}

@media (min-width: 1024px) {
  .user-card {
    width: calc(33.333% - 20px); 
  }
}

@media (max-width: 414px) { /* Specific adjustments for 412 x 915 screens */
  .user-card {
    padding: 5px;
    font-size: 0.75rem; /* Smaller font size to ensure content fits */
    align-items: stretch; /* Ensures elements within are not squeezed */
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content to prevent it from being cut off */
  }
}